0.bin
**.zip
/[Dd]ocumentation/**
!/[Dd]ocumentation/resources/**
/[Mm]odules/sgl/[Dd]ocumentation/**
/[Ss]amples/**/*.o
/[Ss]amples/**/[Bb]uild[Dd]rop/**
/[Cc]ompiler/msys2/tmp/*
/[Ee]mulators/[Mm]ednafen/**
!/[Ee]mulators/[Mm]ednafen/put_mednafen_here.txt
