# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

0.bin
/src/**/*.o
/[Ss]amples/**/[Bb]uild[Dd]rop/**
/[Cc]ompiler/msys2/tmp/*
/[Mm]ednafen/b/*
/[Mm]ednafen/sav/*
/[Mm]ednafen/firmware/*
/[Mm]ednafen/*.cfg
/[Mm]ednafen/*.lck
/[Mm]ednafen/ru/**
/[Mm]ednafen/de/**
/[Mm]ednafen/[Dd]ocumentation/**
/[Mm]ednafen/stdout.txt
/[Mm]ednafen/stderr.txt